* {
  margin: 0;
  padding: 0;
  outline: 0;
  font-size: 1em;
  font-weight: normal;
  font-style: normal;
  border: 0;
  text-decoration: none;
  list-style-type: none;
}

body {
  font-size: 15px;
  font-family: 'Inter', sans-serif;
  background-color: #090b1a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

section {
  width: 88%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 0.5rem;
  margin-top: 5.5rem;
  background-color: #1b1938;
}

section .content {
  padding: 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

section .tile-image {
  position: relative;
  background: rgba(170, 92, 219, 0.55);
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

section img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  mix-blend-mode: overlay;
  opacity: 0.7;
}

section h1, section p, section .stats {
  text-align: center;
  margin: 1.5rem 1rem;
}

section h1 {
  color: white;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 32px;
}

section h1 span {
  color: #aa5cdb;
  font-weight: inherit;
}

section p {
  color: rgba(255, 255, 255, 0.75);
  line-height: 25px;
}

section ul.stats {
  margin-top: 3rem;
}

section ul.stats li {
  text-transform: uppercase;
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.6);
  margin: 2rem 0;
}

section ul.stats h2 {
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
  padding-bottom: 0.5rem;
}

@media screen and (min-width: 700px) {
  ul.stats {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin: 1rem 0;
  }
}

@media screen and (min-width: 992px) {
  section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    max-width: 1100px;
  }
  ul li, section .content h1, section .content p {
    text-align: left;
  }
  section ul.stats {
    margin-top: 2rem;
  }
  section .content {
    padding: 4rem;
  }
  section .content h1 {
    font-size: 2.25rem;
    line-height: 44px;
    width: 90%;
    margin: 1rem 0;
  }
  section .content p {
    margin: 1rem 0;
  }
  section .tile-image {
    width: 48%;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0.5rem;
  }
  img {
    border: 0;
  }
  ul.stats {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 1rem 0;
  }
  section .tile-image {
    width: 48%;
  }
  section .content {
    width: 52%;
  }
}

@media screen and (min-width: 1300px) {
  section {
    max-height: 446px;
  }
}
/*# sourceMappingURL=style.css.map */